body {
  background-image: url("pexels-stywo-1261728.jpg"); /* 设置背景图片 */
  background-size: cover; /* 使图片覆盖整个页面 */
  background-position: center center; /* 图片居中 */
  background-repeat: no-repeat; /* 不重复显示背景图 */
  color: rgb(250, 247, 247); /* 设置文字颜色 */
  font-family: Arial, sans-serif; /* 设置字体 */
  height: 100vh; /* 使背景图充满整个页面 */
  margin: 0; /* 去除默认的外边距 */
}
